.total {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-height: 650px) {
    .total {
        margin-top: 16px;
    }
}

.total-icon {
    transform: scale(1.5);
    transform-origin: top left;
    width: 36px;
    height: 32px;
}
