.feed_orders {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  max-height: calc(100vh - 250px);
  overflow: auto;
  padding-right: 8px;
  width: 580px;
  scrollbar-color: #8585AD #2F2F37;
  scrollbar-width: thin;
}

.feed_orders::-webkit-scrollbar {
  background-color: #2F2F37;
  width: 8px;
}

.feed_orders::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}